<footer>
    <div class="container">
        <a routerLink="/" class="footer-logo">
            <img src="/assets/images/Logo_SF.png" alt="Logo SILCAST">
        </a>
        <div class="company-info">
            <p>SILCAST</p>
            <p>Lic. José López Portillo 622, Col. Puerta del Norte, CP. 66054, General Escobedo, Nuevo León</p>
            <p>(52) 812 012 1583</p>
        </div>
        <p class="copyright">Copyright © 2025 SILCAST - Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/profile.php?id=61568525755270" target="_blank"><img src="/assets/images/facebook.png" alt="Facebook"></a>
            <a href="https://x.com/?lang=es0" target="_blank"><img src="/assets/images/twitter.png" alt="Twitter"></a>
            <a href="https://www.instagram.com/silcast_oficial/" target="_blank"><img src="/assets/images/instagram.png" alt="Instagram"></a>
            <a href="https://wa.me/+528134823524" target="_blank"><img src="/assets/images/whatsapp.png" alt="WhatsApp"></a>
        </div>
    </div>
</footer>