
<section class="services">
    <h2>Nuestros Servicios</h2>
    <div class="service-cards">
        <div class="card">
            <img src="/assets/images/soldadura.jpg" alt="Soldadura">
            <h3>Soldadura Especializada</h3>
            <p>Soluciones de alta precisión y calidad en soldadura para la industria.</p>
        </div>
        <div class="card">
            <img src="/assets/images/maquinados.jpg" alt="Maquinados">
            <div class="text">
                <h3>Maquinados</h3>
                <p>Procesos de maquinado con tecnología avanzada y máxima eficiencia.</p>
            </div>
        </div>            
        <div class="card">
            <img src="/assets/images/electromecanicos.jpg" alt="Electromecánicos">
            <h3>Servicios Electromecánicos</h3>
            <p>Soluciones en mantenimiento y reparación electromecánica industrial.</p>
        </div>
        <div class="card">
            <img src="/assets/images/maniobras.jpg" alt="Maniobras e Izajes">
            <h3>Maniobras e Izajes con Grúas</h3>
            <p>Movemos lo imposible con seguridad y precisión.</p>
        </div>
        
    </div>
</section>


