<div class="gallery-container">
    <section class="gallery-section">
        <h2>Grúas</h2>
        <div class="image-grid">
          <div class="image-item">
            <img src="/assets/images/gruas/imagen1.jpg" alt="Imagen 1 Grúas">
          </div>
          <div class="image-item">
            <img src="/assets/images/gruas/imagen2.jpg" alt="Imagen 2 Grúas">
          </div>
          <div class="image-item">
            <img src="/assets/images/gruas/imagen3.jpg" alt="Imagen 3 Grúas">
          </div>
          <div class="image-item">
            <img src="/assets/images/gruas/imagen4.jpg" alt="Imagen 4 Grúas">
          </div>
          <div class="image-item">
            <img src="/assets/images/gruas/imagen5.jpg" alt="Imagen 5 Grúas">
          </div>
          </div>
      </section>
      <section class="gallery-section">
        <h2>Servicios Industriales</h2>
        <div class="image-grid">
          <div class="image-item">
            <img src="/assets/images/industriales/imagen1.jpg" alt="Imagen 1 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen2.jpg" alt="Imagen 2 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen3.jpg" alt="Imagen 3 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen4.jpg" alt="Imagen 4 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen5.jpg" alt="Imagen 5 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen6.jpg" alt="Imagen 6 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen7.jpg" alt="Imagen 7 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen8.jpg" alt="Imagen 8 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen9.jpg" alt="Imagen 9 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen10.jpg" alt="Imagen 10 Servicios Industriales">
          </div>
          <div class="image-item">
            <img src="/assets/images/industriales/imagen11.jpg" alt="Imagen 11 Servicios Industriales">
          </div>
        </div>
      </section>
    
  </div>