<div class="contact-container">
    <section class="contact-hero">
      <div class="hero-content">
        <h2>Trabajemos juntos para consumar tu éxito</h2>
        <p>Cuéntanos qué necesitas y nuestro equipo se pondrá en contacto contigo.</p>
      </div>
    </section>
  
    <section class="contact-details">
      <div class="contact-form">
        <h3>Comunícate con nosotros</h3>
        <form>
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea id="mensaje" name="mensaje" rows="5" required></textarea>
          </div>
          <button type="submit" class="btn">Enviar Mensaje</button>
        </form>
      </div>
  
      <div class="company-info">
        <h3>Nuestra base de operaciones</h3>
        <div class="info-item">
          <h4>SILCAST</h4>
          <p>José López Portillo #622, Colonia Puerta del Norte,<br>
             General Escobedo, Nuevo León, México, CP. 66054</p>
        </div>
        <div class="info-item">
          <h4>Teléfono</h4>
          <p>Departamento de Gruas (+52) 81 3482 3524</p>
          <p>Servicios industriales 1 (+52) 811 939 9462</p>
          <p>Servicios industriales 2 (+52) 812 664 5537</p>
        </div>
        <div class="info-item">
          <h4>E-mail</h4>
          <p><a href="mailto:melissa.castillo&#64;silcast.mx">melissa.castillo&#64;silcast.mx</a></p>
        </div>
      </div>
    </section>
  
    <section class="contact-map">
      <h3>Ubicación</h3>
      <div class="map-container">
        <iframe 
          src="https://www.google.com/maps/embed?pb=!1m17!1m11!1m3!1d66!2d-100.288561!3d25.7741022!2m2!1f286.54!2f45.02!3m2!1i1024!2i768!4f35!3m3!1m2!1s0x866293b576c1631f%3A0x6a4ed712b6ab5b0!2sSILCAST!5e1!3m2!1ses!2smx!4v1743610180265!5m2!1ses!2smx" 
          width="600" 
          height="450" 
          style="border:0; width: 100%; height: 400px; border-radius: 10px;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </section>
       
  </div>